.marker {
    width: 3vw;
    opacity: 0; 
    transition: all 0.2s ease-in-out;
}

.marker_visible {
    opacity: 100;
}

@keyframes animation {
   0% {
    transform: translateY(0);
   } 
   50% {
    transform: translateY(10px);
   }
   100% {
    transform: translateY(0);
   }
}

.marker__body {
    background-color: green;
    width: 3vw;
    aspect-ratio: 1;
    background: linear-gradient(135deg, #ff8a00, #e52e71);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    rotate: 180deg;
    opacity: 100;

    animation: animation 2s ease-in-out infinite;
}